
div{
    height:50px;
    width:100%;
    background-color:red;
    margin-top: -0.5%;
    color: black
}
h1{
    margin-left: 40%;
    margin-top: 0%;

/* height:60px;
width:100%;
background-color:red; */
/* margin-top: -3%; */
color: black
}