<!-- <app-app-header [titlebar]= "title"></app-app-header> -->
<!-- <nav class = "navigationBar" *ngIf="nav.visible" style="background-color:#0a9dc7">
    <button (click)="toggleMenu()" left  toggle menu class="hamburger">
        <span></span>
    </button>
    <app-menu align="start" mode="side" [@slideInOut]="menuState"></app-menu>
</nav> -->

<!-- <h1>
    {{title}}
</h1> -->

<!-- <button md-icon-button (click)="sidenav.toggle()">
    <md-icon class="md-24" >menu</md-icon>
</button>￼ -->
<!-- <app-sidebarmenu></app-sidebarmenu> -->
<!-- <app-sidemenu></app-sidemenu> -->
<router-outlet></router-outlet>
