<nav class="navigationBar" *ngIf="nav.visible" style="background-color:#0a9dc7">
  <!-- <title>Home</title> -->
  <h1>SearchDoctor</h1>
  <cuppa-slidemenu [menulist]="menuItemsArray" [config]="config" (open)="onMenuOpen()" (close)="onMenuClose()" (onItemSelect)="onItemSelect($event)">
  </cuppa-slidemenu>
  <mat-icon class="button" data-toggle="modal" data-target="#specialities">details</mat-icon>

</nav>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" style="margin-top: 40px;margin-bottom: 100px;">
      <mat-card class="row" *ngFor="let doctor of doctorsListArray" style="padding: 0; margin-bottom: 15px;">
        <div class="col-md-8" style="display: flex; align-items: center; margin-bottom: 10px">
          <div calss="item item-avatar" style="padding: 15px 20px;">
            <img mat-card-avatar style="border: 3px solid green" max-width="100px" max-height="100px" src="{{doctor.profilePic}}" alt="{{doctor.profilePic}}">
          </div>
          <div>
            <div style="color:#4a4d51;font-weight: bold;float: left;margin-right: 5px;">DR: </div>
            <div style="color:#4a4d51;font-weight: bold;">{{doctor.doctorName | uppercase}}</div>
            <div style="color:#7e7e7f;">{{doctor.education}}</div>
            <div style="color:#7e7e7f;">{{doctor.specialist}}</div>
          </div>

        </div>
        <div class="col-md-4" style="color:rebeccapurple; margin-top: 25px">
      <p-rating [cancel]="false" color='green' [(ngModel)]="doctor.ratings"></p-rating>
        </div>
      </mat-card>
    </div>
  </div>

</div>


<ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol>