
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.navigationBar   {
    display: GRID;
    GRID-TEMPLATE-COLUMNS: 45% 50%;

    /* display: GRID;

    GRID-TEMPLATE-COLUMNS: 45% 55%;

    grid-gap: 10px; */
}
.navigationBar h1{
    /* margin: 2px auto; */
    font-size :30px;
    grid-column: 2/4;
    grid-row: 1/2
    
}
.navigationBar cuppa-slidemenu{
    grid-column: 1/2;
    grid-row: 1/2;
}

.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 16px;
  }
  .glyphicon{
      margin-top: 7px !important;
      margin-left: 35px !important;
      font-size: 15px!important;
  }
  li{
  margin: 0px 70px;
}

/* .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} */

/* Change the color of links on hover */
/* .navbar a:hover {
    background-color: #ddd;
    color: black;
} */

/* Add a color to the active/current link */
/* .navbar a.active {
    background-color: #4CAF50;
    color: white;
}.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} */

/* Change the color of links on hover */
/* .navbar a:hover {
    background-color: #ddd;
    color: black;
} */

/* Add a color to the active/current link */
/* .navbar a.active {
    background-color: #4CAF50;
    color: white;
} */