
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.navigationBar   {
    display: GRID;
    GRID-TEMPLATE-COLUMNS: 45% 50%;

    /* display: GRID;

    GRID-TEMPLATE-COLUMNS: 45% 55%;

    grid-gap: 10px; */
}
.navigationBar h1{
    /* margin: 2px auto; */
    font-family: inherit;
    color: inherit;
    font-weight: 50;
    font-size :20px;
    grid-column: 2/4;
    grid-row: 1/2   
}
.navigationBar cuppa-slidemenu{
    grid-column: 1/2;
    grid-row: 1/2;
}

.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 16px;
  }
  .glyphicon{
      margin-top: 7px !important;
      margin-left: 35px !important;
      font-size: 15px!important;
  }

   .nav a {
    margin-top:-16px;
    margin-bottom: 2px; 
    color:inherit;
    position: static;
  }
  li{
  margin: 0px 70px;
}
.navbar {
    width: 100%;
    bottom: 0px;
    position: fixed;
    background-color: #0a9dc7;
    margin: 0px;
    height: 50px;
}
:focus {
    outline: none;
}
.nav>li>a {

    /* position: fixed; */
}
/* .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} */

/* Change the color of links on hover */
/* .navbar a:hover {
    background-color: #ddd;
    color: black;
} */

/* Add a color to the active/current link */
/* .navbar a.active {
    background-color: #4CAF50;
    color: white;
}.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} */

/* Change the color of links on hover */
/* .navbar a:hover {
    background-color: #ddd;
    color: black;
} */

/* Add a color to the active/current link */
/* .navbar a.active {
    background-color: #4CAF50;
    color: white;
} */