<nav class="navigationBar" *ngIf="nav.visible" style="background-color:#0a9dc7">
  <!-- <title>Home</title> -->
  <h1>Profile</h1>
  <cuppa-slidemenu [menulist]="menuItemsArray" [config]="config" (open)="onMenuOpen()" (close)="onMenuClose()" (onItemSelect)="onItemSelect($event)">
  </cuppa-slidemenu>

</nav>

<router-outlet></router-outlet>

<nav class="navbar navbar-default " style="margin-top: 30%;
">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']" id="content">
          <i class="glyphicon glyphicon-home"></i>
          <a style="margin-top: 0px; margin-bottom: 2px;" routerLink="/profile/dashboard">Dashboard </a>
        </li>
        <li [routerLinkActive]="['active']">
          <i class="glyphicon glyphicon-floppy-disk"></i>
          <a style="margin-top: 0px; margin-bottom: 2px;" routerLink="/profile/dashboard">Medical Reports</a>
        </li>
        <li [routerLinkActive]="['active']">
          <i class="glyphicon glyphicon-credit-card"></i>
          <a style="margin-top: 0px; margin-bottom: 2px;" routerLink="/profile/dashboard">Allergies</a>
        </li>

        <li [routerLinkActive]="['active']">
          <i class="glyphicon glyphicon-bed"></i>
          <a style="margin-top: 0px; margin-bottom: 2px;" routerLink="/profile/labresult">Lab Reports</a>
        </li>
        <li [routerLinkActive]="['active']">
          <i class="glyphicon glyphicon-blackboard"></i>
          <a style="margin-top: 0px; margin-bottom: 2px;" routerLink="/profile/labresult">Immunization</a>
        </li>
        <!-- <li><i class="glyphicon glyphicon-scale" ></i><a style="margin-top: -13px;"  href="#">Prescription</a></li> -->

      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->


</nav>




<!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->